body {
	background-image: url("../img/futebol-campo-plateia.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	background-position-x: 50%;
	background-position-y: 50%;
}

.slogan {
	background-image: url("../img/torneio-logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: center;
	background-position-y: top;
	background-color: rgb(0, 0, 0, 0);
	height: 150px;
	
}
.times{
	display: flex;
	padding-top: 2%;
	justify-content: center;
	
}
.times textarea{
	border-radius: 5px;
	background-color: rgba(48, 48, 48, 0.8);
	color: #fff;
}
.gerar{
	width: 100%;
	display: flex;
	padding-top: 2%;
	justify-content: space-around;
}
.gerar button{	
	border-width: 5px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 120%;
	min-width: 120px;
	width: 10%;
	color: #c4c4c4;
	background-color: rgba(37, 37, 37, 0.8);
	border: none;
	display: flex;
	justify-content: space-around;
	
	
}
.gerar button img{
	padding-left: 15%;
	
}
.resultado{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.space{
	padding-top: 2%;
}
.resultado textarea{
	border-radius: 5px;
	background-color: rgba(48, 48, 48, 0.8);
	color: #fff;
}